:root{
  --ligtest-color: #f3f3f3;
  --ligt-color: #ececec;
  --medium-color: #dbdbdb;
  --radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table{
  min-width: 500px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-collapse: collapse;
}
td{
  padding: 1em 0;
  background-color: var(--ligtest-color);
  text-align: center;
  vertical-align: center;
}
thead th{
  color: var(--ligtest-color)
}
thead th:not(th:first-child){
  width: 18%;
}
thead th:first-child{
  border-top-left-radius: var(--radius);
  background-color: #7987ac;
}
thead th:nth-child(2){
  background-color: #4f628d;
}
thead th:nth-child(n+2) p:nth-child(2){
  margin: 0;
  font-size: 2em;
}
thead th:nth-child(n+2) p:nth-child(2) +p{
  margin-top: 0;
}
thead th:nth-child(3){
  background-color: #2a4074;
}
thead th:nth-child(4){
  background-color: #081d4e;
}
thead th:last-child{
  border-top-right-radius: var(--radius);
  background-color: #07153a;
}
tfoot td:first-child{
  border-bottom-left-radius: var(--radius);
}
tfoot td:last-child{
  border-bottom-right-radius: var(--radius);
}
tbody tr:nth-child(n) td:first-child::first-letter{
text-transform: uppercase;
}
tbody td:first-child{
  padding-left: 1em;
  text-align: left;
}
tbody tr:nth-child(odd) td:nth-child(odd),
tfoot tr:nth-child(odd) td:nth-child(odd){
  background-color: var(--medium-color);
}
tbody tr:nth-child(odd) td:nth-child(even),
tbody tr:nth-child(even) td:nth-child(odd),
tfoot tr:nth-child(odd) td:nth-child(even){
  background-color: var(--ligt-color);
}

tfoot button{
  padding: 10px 30px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 0;
  background-color: var(--medium-color);
  color: rgb(87, 87, 87);
  text-transform: uppercase;font-weight: bold;
}